@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark dark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"); */

#__next {
	height: 100% !important;
}

html,
body {
	font-family: "Roboto", sans-serif;
}

html {
	display: block;
	height: 100%;
	width: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 16px;
	cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f3f7f9;
	cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
	border: 1px solid #105a80;
	cursor: pointer;
}

p.error {
	font-size: 0.8em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

select::-ms-expand {
	border-radius: 5% !important;
	display: none !important;
	/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

option {
	padding: 10px !important;
}

section.blockpage {
	display: flex;
	flex-direction: column;
	margin: 20px;
	min-height: 100%;
}
@media (min-width: 768px) {
	section.blockpage {
		justify-content: flex-start;
		margin: 30px;
		min-height: 100%;
	}
}

.test {
	border: 2px solid violet;
}

.test2 {
	border: 2px solid green;
}

.unlockOpacity {
	opacity: 0.95;
}

[hidden] {
	display: none;
}

.image-container {
	width: 300px;
	height: 300px;
	position: relative;
}

/* .shadow-link{
	@apply dark:hover:text-red-500 dark:hover:bg-yellow-400;
} */
